.welcome-wrapper{
    width: 100%;
    .welcome-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        color: #fff;
        .welcome-content-ch{
            margin: 2.2rem 0 .42rem 0;
            font-size: .23rem;
        }
        .welcome-content-en{
            font-size: .2rem;
        }
    }
}